{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Add Essay" %}{% endblock %}
{% block content %}
    <style>
     .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}
    .button4 {
    background-color: white;
    color: black;
    border: 2px solid #1d7cb8;
}

.button4:hover {
    background-color: #1d7cb8;
    color: white;
}
    </style>
       <div class="page-container">
<!-- bloc-0 -->
<div style="height: 40px;"></div>
       {% if user.is_superuser or user.is_staff %}
           <div class="container" style="font-size: 18px; max_width:800px;background: rgba(119,180,255,0.26)">
    <div style="height: 10px;"></div>
    <div><h1 style="font-size: 250%; text-align: center;">Create Essay Question</h1></div>

    <h5 style="color: red; margin-left: 20px;">*Required</h5>
<form method="POST" style="padding: 50px;" enctype="multipart/form-data">
    {% csrf_token %}
{#    {{ essay_form.as_p }}#}
    {{ essay_form.user_id }}
     <label for="content">Question</label><br>
    {{ essay_form.content }}
    <br><br>
<label for="figure">Figure</label><br>
    {{ essay_form.figure }}
<br><br>
<label for="exam_paper">Explanation</label><br>
    {{ essay_form.explanation }}<p>*Explanation to be shown after the question has been answered.</p>
<br><br>
    <div class="row" style="padding-top: 30px;margin-left: 25%;">
        <button type="submit" class="button button4" style="vertical-align:middle">
            <span> Add Essay</span>
        </button>
    </div>
</form>
</div>
           {% else %}
           <h1>Url not found... though you can go to home page from <a href="{% url 'mywebsite:home' %}">here</a></h1>
       {% endif %}

</div>
<div style="height: 50px;"></div>
{% endblock %}