<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" type="image/png" href="http://iiitvadodara.ac.in/img/IIITV_Logo_1x1_small.png">

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link href="{% static 'css/css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/css(1)' %}" rel="stylesheet" type="text/css">

<script src="{% static 'javascript/jquery-2.1.0.min.js.download' %}"></script>
<script src="{% static 'javascript/bootstrap.min.js.download' %}"></script>
<script src="{% static 'javascript/blocs.min.js.download' %}"></script>

    <script src="{% static 'javascript/dynamic-formset.js' %}"></script>
    <title>Add MCQ</title>
</head>
<body>



   <div class="page-container">
<div class="text-center col-lg-3 col-md-6 col-sm-12 col-xs-12" id="google_translate_element"></div>
<!-- bloc-0 -->
<div class="bloc bg-repeat bgc-white l-bloc" id="bloc-0">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-6">
				<a href="{% url 'mywebsite:home' %}"><img src="{% static 'images/iiitv_logo.png' %}" class="head-logo" height="80"></a>
				<h4 class=" tc-black mg-sm">
					<a class="ltc-black"  href="{% url 'mywebsite:home' %}">Training &amp; Placement Cell</a><br>
				</h4>
				<h6 class=" mg-clear tc-1">

					 <a class="pull-left" href="http://iiitvadodara.ac.in/" target="_blank">Indian Institute of Information Technology Vadodara</a><br>
				</h6>
			</div>
				<div class="col-sm-6 right-align">
				<ul class="list-unstyled list-horizontal-layout">

					<li>
						<a href="{% url 'quiz_category_list_all' %}" class="btn btn-d btn-sq btn-sm nav-button">Quiz</a>
					</li>
					<li>
						<a href="{% url 'mywebsite:student' %}" class="btn btn-d btn-sq btn-sm nav-button">Students</a>
					</li>
					<li>
						<a href="{% url 'mywebsite:recruiter' %}" class="btn btn-d btn-sq btn-sm nav-button">Recruiters</a>
					</li>
					<li>
						<div class="btn-group btn-dropdown">
							<a href="#" class="btn btn-d btn-sq btn-sm nav-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Achievements<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">


								<li>
									<a href="{% url 'mywebsite:academic' %}" class="a-btn a-block">Academics</a>
								</li>
								<li>
									<a href="{% url 'mywebsite:beyond_academic' %}" class="a-btn a-block">Beyond Academics</a>
								</li>

							</ul>
						</div>
					</li>
					<li>
						<a  href="{% url 'mywebsite:department' %}" class="btn btn-d btn-sq btn-sm nav-button">Departments</a>
					</li>
					<li>
						<div class="btn-group btn-dropdown">
							<a href="#" class="btn btn-d btn-sq btn-sm nav-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">


								<li>
									<a href="{% url 'mywebsite:about' %}" class="a-btn a-block">About US</a>
								</li>
								<li>
									<a href="{% url 'mywebsite:contact' %}" class="a-btn a-block">Contact Us</a>
								</li>
                                <li>
									<a href="http://iiitvadodara.ac.in/gallery.php" class="a-btn a-block">Gallery</a>
								</li>
								<li>
									<a href="http://iiitvadodara.ac.in/" class="a-btn a-block">College Team</a>
								</li>
								<li>
									<a href="http://iiitvadodara.ac.in/" class="a-btn a-block">Alumni</a>
								</li>
								<li>
									<a href="http://iiitvadodara.ac.in/" class="a-btn a-block">Reseach &amp; Development</a>
								</li>
							</ul>
						</div>
					</li>




				</ul>
			</div>

		</div>
	</div>
</div>
<div style="height: 40px;"></div>
<div class="container" style="font-size: 18px; max_width:800px;background: rgba(119,180,255,0.26)">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'javascript/dynamic-formset.js' %}"></script>
<script type="text/javascript">
    <!--
    $(function () {
    $('.add-row').click(function() {
        return addForm(this, '{{ answer_formset.prefix }}');
    });
    $('.delete-row').click(function() {
        return deleteForm(this, '{{ answer_formset.prefix }}');
    })
})
    //-->
    </script>
 {% if user.is_superuser or user.is_staff %}
<div style="height: 10px;"></div>
    <div><h1 style="font-size: 250%; text-align: center;">Create Multiple Choice Question</h1></div>

    <h5 style="color: red; margin-left: 20px;">*Required</h5>
<form method="POST" style="padding:50px;" enctype="multipart/form-data">
    {% csrf_token %}
{#    {{ mcq_form.as_p }}#}
{#    {{ answer_formset.as_table }}#}
    {{ mcq_form.user_id }}
<br>
<label for="content">Question</label><br>
    {{ mcq_form.content }}
<br><br>
<label for="figure">Figure</label><br>
    {{ mcq_form.figure }}
<br><br>
<label for="exam_paper">Explanation</label><br>
    {{ mcq_form.explanation }}
<br><br>
<label for="exam_paper">Answer Order</label><br>
    {{ mcq_form.answer_order }}
<br><br>

{##}
  <table id="id_forms_table" border="0" cellpadding="0" cellspacing="5">
        <thead>
    	    <tr>
    	        <th scope="col">&nbsp;</th>
    	        <th scope="col">Answer List</th>
    	        <th scope="col">&nbsp;</th>
    	        <th scope="col">&nbsp;</th>
    	    </tr>
        </thead>
        <tbody>
            {% for form in answer_formset.forms %}
    	    <tr id="{{ form.prefix }}-row" class="dynamic-form">
    	        <td>Answer {{ form.content }} </td>
    	        <td> Correct {{ form.correct }} Tick if this is correct answer </td>
            </tr>
    	    {% endfor %}
            <tr>
    	        <td colspan="4"><a href="javascript:void(0)" class="add-row">Add Answer</a></td>
    	    </tr>
        </tbody>
    </table>
    {{ answer_formset.management_form }}
    <div class="row" style="padding-top: 30px;margin-left: 25%;">

        <button type="submit"><a>Add MCQ</a></button>
    </div>
</form>

{% else %}
           <h1>Url not found... though you can go to home page from <a href="{% url 'mywebsite:home' %}">here</a></h1>
       {% endif %}

</div>
</div>
<div style="height: 50px;"></div>


    <!-- Google Translate -->
        <script type="text/javascript">
                function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>




    </body>
</html>