<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    {{ mcq_form.as_p }}
    {{ answer_formset.as_table }}
    {{ answer_formset.management_form }}
{#    {{ answer_formset.as_p }}#}
{#    {% for answer_form in answer_formset %}#}
{#        <div class="link-formset">#}
{#            {{ answer_form.content }}#}
{##}
{##}
{#            {{ answer_form.correct }}#}
{#        </div>#}
{#    {% endfor %}#}
    <div class="row" style="padding-top: 30px">

        <button type="submit"><a>Add MCQ</a></button>
    </div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'path_to/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'add link',
        deleteText: 'remove'
    });
   </script>
    </body>
</html>