{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Add Question" %} {% endblock %}
{% block content %}

     <style>
    .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #607eff;
}

.button3:hover {
    background-color: #607eff;
    color: white;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #1d7cb8;
}

.button4:hover {
    background-color: #1d7cb8;
    color: white;
}
    .button2 {
  display: inline-block;
  border-radius: 5px;
  background-color: #2493f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.2s;
  cursor: pointer;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

    </style>
    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center;font-size: 40px;"><a href="{% url 'addmcq' %}">
                        <button class="button button1" style="vertical-align:middle">
                            <span> Add MC Question</span>
                        </button>
                    </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center;font-size: 40px;">
                        <a href="{% url 'addtf' %}">
                            <button class="button button3" style="vertical-align:middle">
                            <span> Add T/F Question</span>
                        </button>

                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center;font-size: 40px;">
                        <a href="{% url 'addessay' %}">
                            <button class="button button4" style="vertical-align:middle">
                            <span> Add Essay Question</span>
                        </button>
                        </a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center;font-size: 50px">Adding completed ? click
                        <a href="{% url 'mywebsite:home' %}">
                            <button class="button2" style="vertical-align:middle"><span> here</span></button>
                        </a>to go out
                    </p>
                </div>
            </div>


        {% else %}
            <h1>This page is for Recruiter or Admin Not for Students.Go to home from <a
                    href="{% url 'mywebsite:home' %}">here</a></h1>
        {% endif %}
    {% else %}
        <h1>You are not logged in !!! </h1>
        <h1>For Recruiter ,log in from <a href="{% url 'mywebsite:recruiter' %}">here</a></h1>
        <h1>For Student ,log in from <a href="{% url 'mywebsite:student' %}">here</a></h1>
    {% endif %}

{% endblock %}