<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if user.is_authenticated %}
{% if user.is_staff or user.is_superuser %}
<p  style="text-align: center;font-size: 50px;"><a href="{% url 'addmcq' %}">Add MC Question</a></p>
    <p  style="text-align: center;font-size: 50px;"><a href="{% url 'addtf' %}">Add T/F Question</a></p>
    <p  style="text-align: center;font-size: 50px;"><a href="{% url 'addessay' %}">Add Essay Question</a></p>


<p style="text-align: center;font-size: 50px">Adding completed ? click
<a href="{% url 'mywebsite:home' %}">here</a> to go out
</p>
    {% else %}
    <h1>This page is for Recruiter or Admin Not for Students.Go to home from <a href="{% url 'mywebsite:home' %}">here</a></h1>
{% endif %}
    {% else %}
    <h1>You are not logged in !!! </h1>
    <h1>For Recruiter ,log in from <a href="{% url 'mywebsite:recruiter' %}">here</a></h1>
    <h1>For Student ,log in from <a href="{% url 'mywebsite:student' %}">here</a></h1>
{% endif %}
</body>
</html>