<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if user.is_authenciated %}
{% if user.is_staff or user.is_superuser %}
<a href="{% url 'addmcq' %}" style="text-align: center;margin-left: 700px;font-size: 50px;">Add MC Question</a><br><br><br>
<a href="{% url 'addtf' %}" style="text-align: center;margin-left: 700px;font-size: 50px;">Add T/F Question</a><br><br><br>
<a href="{% url 'addessay' %}" style="text-align: center;margin-left: 700px;font-size: 50px">Add Essay Question</a><br><br><br>

<p style="text-align: center;margin-right: -100px;font-size: 50px">Adding completed ? click
<a href="{% url 'mywebsite:home' %}">here</a> to go out
</p>
    {% else %}
    <h1>This page is for Recruiter or Admin Not for Students.Go to home from <a href="{% url 'mywebsite:home' %}">here</a></h1>
{% endif %}
    {% else %}
    <h1>You are not logged in !!! </h1>
    <h1>For Recruiter ,log in from <a href="{% url 'mywebsite:recruiter' %}">here</a></h1>
    <h1>For Student ,log in from <a href="{% url 'mywebsite:student' %}">here</a></h1>
{% endif %}
</body>
</html>