{#<!DOCTYPE html>#}
{#{%load staticfiles%}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}
{#<meta name="keywords" content="">#}
{#<meta name="description" content="">#}
{#<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#<link rel="shortcut icon" type="image/png" href="http://iiitvadodara.ac.in/img/IIITV_Logo_1x1_small.png">#}
{##}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">#}
{#<link href="{% static 'css/css' %}" rel="stylesheet" type="text/css">#}
{#<link href="{% static 'css/css(1)' %}" rel="stylesheet" type="text/css">#}
{##}
{#<script src="{% static 'javascript/jquery-2.1.0.min.js.download' %}"></script>#}
{#<script src="{% static 'javascript/bootstrap.min.js.download' %}"></script>#}
{#<script src="{% static 'javascript/blocs.min.js.download' %}"></script>#}
{#    <title>Add TF</title>#}
{#</head>#}
{#<body>#}
{#   #}
{##}
{##}
{##}
{##}
{##}
{#</body>#}
{#</html>#}

{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Add T/FQ" %}{% endblock %}
{% block content %}
    <div class="page-container">
<!-- bloc-0 -->
<div style="height: 40px;"></div>
       {% if user.is_superuser or user.is_staff %}
<div class="container" style="font-size: 18px; max_width:800px;background: rgba(119,180,255,0.26)">
    <div style="height: 10px;"></div>
    <div><h1 style="font-size: 250%; text-align: center;">Create True and False Question</h1></div>

    <h5 style="color: red; margin-left: 20px;">*Required</h5>
<form method="POST" style="padding:50px;" enctype="multipart/form-data">
    {% csrf_token %}
{#    {{ tf_form.as_p }}#}
    {{ tf_form.user_id }}
    <label for="content">Question</label><br>
    {{ tf_form.content }}

    <br><br>
<label for="figure">Figure</label><br>
    {{ tf_form.figure }}
<br><br>
<label for="exam_paper">Explanation</label><br>
    {{ tf_form.explanation }}<p>*Explanation to be shown after the question has been answered.</p>
    <br><br>
<label for="exam_paper">Correct</label>
    {{ tf_form.correct }}<p>*Tick this if the question is true. leave blank if false.</p>
    <br><br>
    <div class="row" style="padding-top: 30px;margin-left: 25%;">

        <button type="submit"><a>Add TF</a></button>
    </div>
</form>
</div>
       {% else %}
           <h1>Url not found... though you can go to home page from <a href="{% url 'mywebsite:home' %}">here</a></h1>
       {% endif %}
</div>
<div style="height: 50px;"></div>
{% endblock %}