{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Category list" %}{% endblock %}

{% block content %}
    {% if user.is_superuser or user.is_staff %}
    <a href="{% url 'createcategory' %}" style="text-align: center"><h2>{% trans "Create Category for Quiz" %}</h2></a>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or not user.is_staff %}
        <a href="{% url 'quiz_progress' %}" style="text-align: center"><h2>{% trans "See your Progress Till Now" %}</h2></a>
    {% endif %}
    {% endif %}
<h1 style="margin-left: 40px">{% trans "Category list" %}</h1>

<ul>
  {% for cat in category_list %}
  <li style="margin-left: 40px">
	<a href="{% url 'quiz_category_list_matching' category_name=cat.category %}" style="font-size: 30px;">
	  {{ cat.category }}
	</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
