{% extends 'base.html' %}
{%load staticfiles%}
{% load i18n %}
{% block title %}{% trans "Create Quiz" %}{% endblock %}

{% block content %}
    <div class="page-container">

<!-- bloc-0 -->

<div style="height: 40px;"></div>
<div class="container" style="font-size: 18px; max_width:800px;background: rgba(119,180,255,0.26)">
    <div style="height: 10px;"></div>
    <div><h1 style="font-size: 250%; text-align: center;">Create Quiz</h1></div>

    <h5 style="color: red; margin-left: 20px;">*Required</h5>
<form method="post" style="padding:50px;">
                    {% csrf_token %}
{#                    {{ form.as_p }}#}

{#    #}
        {{ form.user_id }}
    <label for="title">Title*</label>
        <br>{{ form.title }}

        <!--  <input style="margin-left:20px;" type="text" name="firstname" value=""> -->

    <br><br>
    <label for="description">Description*</label><br>
    {{ form.description }}
    <br><br>



    <label for="start_time">Start Time*</label><br>
    {{ form.start_time }}
        <br><br>

    <label for="end_time">End Time*</label><br>
{{ form.end_time}}
        <br><br>

    <label for="url">User Friendly tag(eg. /quiz/tag)*</label><br>
 {{ form.url }}
        <br><br>

    <label for="catagory">Category*</label><br>
{{ form.category }}
        <br><br>

    <label for="random_order">Random Order</label>
{{ form.random_order }}
        <br><br>

    <label for="max_question">Maximum No. of Questions</label><br>
{{ form.max_questions }}
        <br><br>


    <label for="answer_at_end">Answer at end</label>
    {{ form.answers_at_end}}


            <br><br>
    <label for="exam_paper">Exam Paper</label>
    {{ form.exam_paper }}<p>*If yes, the result of each attempt by a user will be stored. Necessary for marking.</p>
            <br><br>
     <label for="single_attempt">Single Attempt</label>
    {{ form.single_attempt }}<p>*If yes, user can give only one attempt.</p>
            <br><br>
     <label for="pass_mark">Passing Mark</label><br>
    {{ form.pass_mark }}<p>*Percentage required to pass exam. Leave blank if not required.</p>
            <br><br>
     <label for="success_text">Success Text</label><br>
    {{ form.success_text}}
            <br><br>
     <label for="fail_text">Fail Text</label><br>
    {{ form.fail_text }}
            <br><br>
     <label for="draft">Draft</label>
    {{ form.draft }}
            <br><br>






{#    #}
                    <div class="row" style="padding-top: 30px;margin-left: 25%;">
                        <button type="submit"><a>Add Quiz</a></button></div>
</form>
</div>
</div>
<div style="height: 50px;"></div>
{% endblock %}