{% extends "base.html" %}
{% load i18n%}

{% load quiz_tags %}
{% block heade %}
{#    <meta http-equiv="refresh" content="5;url=https://www.google.com">#}
{% endblock %}
{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
{#    <body onload="examTimer">#}
{##}
{##}
{#<!-- Before the quiz content -->#}
{##}
{#<div class="container">#}
<script language ="javascript" >
        var tim;
        var min = '5';
        var sec = '5';
        var f = new Date();

        var data="<h1 style='text-alignment:center;'";
        data = data + sec;
        data = data + "</h1>";

        var e = "#s";
        $(e).append(data);

        window.onload=function () {
            window.setTimeout(examTimer(),sec);



        function customSubmit(someValue){
        	 document.questionForm.minute.value = min;
        	 document.questionForm.second.value = sec;
        	 document.questionForm.submit();
        	 }

        function examTimer() {
            if (parseInt(sec) >0) {

			    document.getElementById("showtime").innerHTML = "Time Remaining :"+min+" Minutes ," + sec+" Seconds";
                sec = parseInt(sec) - 1;
                tim = setTimeout(examTimer(), sec);
            }
            else {

			    if (parseInt(min)==0 && parseInt(sec)==0){
			    	document.getElementById("showtime").innerHTML = "Time Remaining :"+min+" Minutes ," + sec+" Seconds";
				     alert("Time Up");
				     document.questionForm.minute.value=0;
				     document.questionForm.second.value=0;
				     document.questionForm.submit();

			     }

                if (parseInt(sec) == 0) {
				    document.getElementById("showtime").innerHTML = "Time Remaining :"+min+" Minutes ," + sec+" Seconds";
                    min = parseInt(min) - 1;
					sec=59;
                    tim = setTimeout(examTimer(), sec);
                }

            }
        }
        }
    </script>

{% if previous.answers %}

  <p class="muted"><small>{% trans "The previous question" %}:</small></p>
  <p>{{ previous.previous_question }}</p>

  {% if previous.previous_outcome %}
	<div class="alert alert-success">
  {% else %}
	<div class="alert alert-warning">
  {% endif %}
  	  <p><small>
		{% trans "Your answer was" %} </small>
		<strong>
		  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
		</strong>
	  </p>

	</div>

	{% include 'correct_answer.html' %}

	<p><strong>{% trans "Explanation" %}:</strong></p>
	<div class="well " style="background-color: #fcf8e3;">
	  <p>{{ previous.previous_question.explanation }}</p>
	</div>

	<hr>

{% endif %}

<br />

{% if question %}

{% if progress %}
<div style="float: right;">
{% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
</div>
{% endif %}

<p>
  <small class="muted">{% trans "Question category" %}:</small>
  <strong>{{ question.category }}</strong>
</p>

<p class="lead">{{ question.content }}</p>

{% if question.figure %}
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
{% endif %}

<form action="" method="POST" name="cartCheckout" id="cartCheckout">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item">
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
{#<div id="words" class="gothbold"></div>#}

{#<a class="redirect" href="{% url 'quiz_progress' %}" onClick="document.cartCheckout.submit();">Final Submit</a><br />#}
{#<script type="text/javascript">#}
{#    window.onload=function(){#}
{#        var counter = 5;#}
{#    var interval = setInterval(function() {#}
{#        counter--;#}
{#        $("#seconds").text(counter);#}
{#        if (counter == 0) {#}
{#            redirect();#}
{#            clearInterval(interval);#}
{#        }#}
{#    }, 1000);#}
{#         window.setTimeout(document.cartCheckout.submit.bind(document.cartCheckout), 5000);#}
{#    };#}
{#</script>#}
  <input type="submit" value="{% trans "Check" %}" class="btn btn-large btn-block btn-warning" >
</form>

{% endif %}

<hr>


{% endblock %}
{#</div>#}
{##}
{#<!-- After the quiz content -->#}
{##}
{##}
{#</body>#}