{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Quizzes related to" %} {{ category.category }}{% endblock %}
{% block content %}
<h1 style="text-align: center">{% trans "Quizzes in the" %} <strong>{{ category.category }} </strong>{% trans "category" %}</h1>
    <h2>{{ current_datetime }}</h2>
    {% if user.is_staff %}
<a href="{% url 'createquiz' %}" style="text-align: center"><h2>{% trans "Create Quiz" %}</h2></a>
    {% endif %}
  {% with object_list as quizzes %}
    {% if quizzes %}
      <table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Start Time" %}</th>
			  <th>{% trans "End Time" %}</th>
			  <th>{% trans "Description" %}</th>
              <th>{% trans "Maximum Time" %}</th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quizzes %}
        {% if quiz.end_time >= current_datetime %}
  			<tr>
			  <td>{% if quiz.start_time >= current_datetime %}
                        <h1>{{ quiz.title }}(Not Live)</h1>
                    {% else %}
                  <h1><a href="{% url 'quiz_question' quiz_name=quiz.id %}">{{ quiz.title }}</a></h1>
                  {% endif %}
              </td>
			  <td>{{ quiz.start_time }}</td>
			  <td>{{ quiz.end_time }}</td>
			  <td>{{ quiz.description }}</td>
            <td>{{ quiz.time_of_quiz }} minute</td>

			</tr>
            {% endif %}
        {% endfor %}
		  </tbody>

		</table>
    {% else %}
        <p>{% trans "There are no quizzes" %}</p>
    {% endif %}
  {% endwith %}
{% endblock %}