{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Quizzes related to" %} {{ category.category }}{% endblock %}

{% block content %}
<h1 style="text-align: center">{% trans "Quizzes in the" %} <strong>{{ category.category }} </strong>{% trans "category" %}</h1>
    {% if user.is_staff %}
<a href="{% url 'createquiz' %}" style="text-align: center"><h2>{% trans "Create Quiz" %}</h2></a>
    {% endif %}
  {% with object_list as quizzes %}
    {% if quizzes %}
        <ul>
        {% for quiz in quizzes %}
            {% if quiz.end_time > current_datetime %}
            <div style="background-color:rgba(0,0,0,0.15);border: 1px solid; width: 1000px;padding-bottom: 10px ;padding-left: 10px;padding-top: 10px;margin-right: 10px;margin-top: 40px ">
            {% if quiz.start_time > current_datetime %}
                <h1 style="color: #1E8EFF;font-size:70px ">{{ quiz.title }}(Not Live)</h1>
                {% else %}
			  <a href="{% url 'quiz_question' quiz_name=quiz.url %}" style="font-size: 70px;text-align: center;font-feature-settings: normal">
				{{ quiz.title }}
			  </a>
                {% endif %}
                <p style="color: rgba(23,184,76,0.72)"> {{ quiz.start_time }}   TO    {{ quiz.end_time }}</p>
                <p style="font-size: 30px">{{ quiz.description }}</p>
			</div>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "There are no quizzes" %}</p>
    {% endif %}
  {% endwith %}
{% endblock %}
