{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Add or Update Resume" %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{##}
{#    <!-- Latest compiled JavaScript -->#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}


<link href="{% static 'froala_editor/css/froala_editor.min.css' %} " type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'froala_editor/css/froala_style.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src=" {% static 'froala_editor/js/froala_editor.min.js' %}"></script>


    <meta charset="UTF-8">
    <title>Create Resume</title>
    <style>
        .form-control{
            width: 600px;
            height: 150px;
            margin-top: 150px;
            margin-left: 350px;
            margin-right: 350px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
    <script>
function clicked(e)
{
    if(!confirm('Are you sure?'))e.preventDefault();
}
</script>
    <style>

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.1s; /* Safari */
            transition-duration: 0.1s;
            cursor: pointer;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>
    {% if resumes %}

        <h1>Look Like You have already Created your Resume</h1>
        <h2>View Your Resume <a href="{% url 'resumes:resume' pk2=user.username %}">here</a></h2>
        <h2>Want New Resume? Click  <a href="{% url 'resumes:delete_resume' %}" onclick="clicked(event)">here</a> to delete old one</h2>
    {% else %}
    <div class="page-container">
        <!-- bloc-0 -->
        <div style="height: 40px;"></div>
        <div class="container" style="font-size: 18px; max_width:800px;background: rgba(119,180,255,0.26)">
            <script type="text/javascript">
                // Define this so we don't have to bother with the admin jsi18n stuff:
                function gettext(msgid) {
                    return msgid;
                }
            </script>

            <script type="text/javascript">
                $(function () {
                    $('#id_contact_info_table').find('tbody tr').formset({
                        formCssClass: 'dynamic-contact-form',
                        prefix: "{{ other_formset.prefix }}"

                    });

                    $('table.form-container').formset({
                        formCssClass: 'dynamic-event-form',
                        prefix: "{{ project_formset.prefix }}",
                        added: function (row) {
                            // Find the fields with the calendar widget
                            $(row).find('.vDateField').each(function (i) {
                                // Remove the cloned spam element: it links to an incorrect calendar
                                $(this).parent().find('span').remove();
                                // DateTimeShortcuts is defined in DateTimeShortcuts.js in the Django admin media
                                DateTimeShortcuts.addCalendar(this);
                            });
                        }
                    });
                });
            </script>
            {% if user.is_authenticated %}
                <div style="height: 10px;"></div>
                <div><h1 style="font-size: 250%; text-align: center;">Add or Update Resume{{ forloop.revcounter }}</h1></div>

                <h5 style="color: red; margin-left: 20px;">*Required</h5>
                <form method="POST" style="padding:50px;" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                {{ other_formset.management_form }}
{#                    {{ other_formset.media }}#}

                    <input id="id_user_id" maxlength="100" name="user_id" type="text"
                           value="{{ resume_form.user_id.value }}" hidden default={{ user.username }}>
{#                {{ resume_form.resume_created }}#}
{#                    <input id="id_resume_created" name="resume_created" type="text"#}
{#                           value="{{ resume_form.resume_created.value }}" hidden default={{ current }}>#}
                    {#                {{ resume_form.user_id }}#}
                    <br>
                    <label for="content">Full Name*</label><br>
                    {{ resume_form.fullname }}
                    <br><br>
                    <label for="figure">Email*</label><br>
                    {{ resume_form.email }}
                    <br><br>
                    <label for="dob">Date of Birth(YYYY-MM-DD)*</label><br>
                    {{ resume_form.dob }}
                    <br><br>
                    <label for="exam_paper">Github Link</label><br>
                    {{ resume_form.github }}
                    <br><br>
                    <label for="exam_paper">LinkedIn Link</label><br>
                    {{ resume_form.linkedin }}
                    <br><br>
                    <h3>Class 10 details</h3>
                    <label for="exam_paper">class 10 School Name*</label><br>
                    {{ resume_form.class_ten_institute }}
                    <br><br>
                    <label for="exam_paper">class 10 passing year*</label><br>
                    {{ resume_form.class_ten_passing_year }}
                    <br><br>
                <label for="exam_paper">class 10 CGPA/Percentage*</label><br>
                    {{ resume_form.class_ten_cgpa }}
                    <br><br>
                <h3>Class 12 details</h3>
                <label for="exam_paper">class 12 School Name*</label><br>
                    {{ resume_form.class_twelve_institute }}
                    <br><br>
                <label for="exam_paper">class 12 Passing Year*</label><br>
                    {{ resume_form.class_twelve_passing_year }}
                    <br><br>
                <label for="exam_paper">class 12 Percentage*</label><br>
                    {{ resume_form.class_twelve_percentage }}
                    <br><br>
                <h3>Btech details</h3>
                <label for="exam_paper">Btech College Name*</label><br>
                    {{ resume_form.btech_institute }}
                    <br><br>
                <label for="exam_paper">Btech Cpi*</label><br>
                    {{ resume_form.btech_cpi }}
                    <br><br>
                <label for="exam_paper">Batch Year*</label><br>
                    {{ resume_form.btech_batch }}
                    <br><br>
                <h3>Mtech details</h3>
                <label for="exam_paper">Mtech College Name</label><br>
                    {{ resume_form.mtech_institute }}
                    <br><br>
                <label for="exam_paper">Mtech Cpi</label><br>
                    {{ resume_form.mtech_cpi }}
                    <br><br>
                <label for="exam_paper">Mtech Batch</label><br>
                    {{ resume_form.mtech_batch }}
                    <br><br>
                <h3>Skill Details</h3>
                <label for="exam_paper">Area of Interest*</label><br>
                    {{ resume_form.area_of_interest }}
                    <br><br>
                <label for="exam_paper">Programming Language*</label><br>
                    {{ resume_form.programming_language }}
                    <br><br>
                <label for="exam_paper">technical Elective*</label><br>
                    {{ resume_form.technical_elective }}
                    <br><br>
                <label for="exam_paper">Markup Language*</label><br>
                    {{ resume_form.markup_language }}
                    <br><br>
                <label for="exam_paper">Tool Technology*</label><br>
                    {{ resume_form.tool_techonology }}
                    <br><br>
                <label for="exam_paper">Database*</label><br>
                    {{ resume_form.database }}
                    <br><br>

                <h2>Project Detail</h2>
            {% for form in project_formset.forms %}
            <table id="{{ form.prefix }}-row" class="form-container" border="0" cellpadding="0" cellspacing="5">
                <tbody>
                    <tr>
                        <th scope="row">Topic*</th>
                        <td>{{ form.topic }}</td>
                    </tr>
                    <br>
                    <tr>
                        <th scope="row">Time*</th>
                        <td>{{ form.time }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Team Size*</th>
                        <td>{{ form.team_size }}</td>
                    </tr>
                <tr>
                        <th scope="row">Guide*</th>
                        <td>{{ form.guide }}</td>
                    </tr>
                <tr>
                        <th scope="row">Description*</th>
                        <td>{{ form.description }}</td>
                    </tr>
                <tr>
                        <th scope="row">Project Link*</th>
                        <td>{{ form.project_link }}</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
                <br>

                    <h2>Other Details</h2>
            <table id="id_contact_info_table" border="0" cellpadding="0" cellspacing="5">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                            <th scope="col">Other</th>
                            <th scope="col">&nbsp;&nbsp;</th>
                            <th scope="col">&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in other_formset.forms %}

                    <tr id="{{ form.prefix }}-row" class="form-container">
                        <td style="text-align:center;">{{ form.preferred }}</td>
                        <td> Choice* {{ form.choice }}</td>
                        <td> Description* {{ form.topic }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
               <br>
            <p>
                {{ project_formset.management_form }}
                {{ other_formset.management_form }}

                <input type="submit" value="Submit" />
            </p>
                </form>

            {% else %}
                <h1>Url not found... though you can go to home page from <a href="{% url 'mywebsite:home' %}">here</a>
                </h1>
            {% endif %}

        </div>
    </div>
    <div style="height: 50px;"></div>
    {% endif %}
{% endblock %}