{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Add MCQ" %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
    <style>

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.1s; /* Safari */
            transition-duration: 0.1s;
            cursor: pointer;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>
    <div class="page-container">
        <!-- bloc-0 -->
        <div style="height: 40px;"></div>
        <div class="container" style="font-size: 18px; max_width:800px;background: rgba(119,180,255,0.26)">

            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="{% static 'javascript/dynamic-formset.js' %}"></script>
            <script type="text/javascript">
                <!--
                $(function () {
                    $('.add-row').click(function () {
                        return addForm(this, '{{ education_formset.prefix }}');
                    });
                    $('.delete-row').click(function () {
                        return deleteForm(this, '{{ education_formset.prefix }}');
                    })
                })
                //-->
            </script>
            {% if user.is_superuser or user.is_staff %}
                <div style="height: 10px;"></div>
                <div><h1 style="font-size: 250%; text-align: center;">Create Multiple Choice Question</h1></div>

                <h5 style="color: red; margin-left: 20px;">*Required</h5>
                <form method="POST" style="padding:50px;" enctype="multipart/form-data">
                    {% csrf_token %}

                    <table id="id_forms_table" border="0" cellpadding="0" cellspacing="5">
                        <thead>
                        <tr>
                            <th scope="col">(Answer List(put any no. of option ,</th>
                            <th scope="col"> but only one correct answer)</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in education_formset.forms %}
                            <tr id="{{ form.prefix }}-row" class="dynamic-form">
                                 <td> Degree {{ form.degree }}</td>
                            <td>Institute {{ form.institute }}</td>
                        <td>Year {{ form.year }}</td>
                        <td>Cpi {{ form.cpi_aggreate }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4"><a href="javascript:void(0)" class="add-row">Add Answer</a></td>
                        </tr>
                        </tbody>
                    </table>
                    {{ education_formset.management_form }}
                    <div class="row" style="padding-top: 30px;margin-left: 25%;">
                        <button type="submit" class="button button1" style="vertical-align:middle">
                            <span> Add MC Question</span>
                        </button>
                    </div>
                </form>

            {% else %}
                <h1>Url not found... though you can go to home page from <a href="{% url 'mywebsite:home' %}">here</a>
                </h1>
            {% endif %}

        </div>
    </div>
    <div style="height: 50px;"></div>
{% endblock %}