{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">
    <title>Resume</title>
</head>
<body>
{% if not users %}
    <h1>USER NOT FOUND</h1>
{% else %}
    {% for use in users %}
        {% if use %}
            {% for resume in resumes %}
                {% if resume.user_id|slugify == use.id|slugify %}
                    <div class="container">
                        <div class="logo">
                            <img id="image" src="{% static 'images/iiitv_resume.png' %}" alt="iiitv-logo">
                        </div>
                        <div class="div1">
                            <h1 id="div1h1">{{ resume.fullname }}</h1>
                            <h4 id="div1h4">Indian Institute of Information Technology, Vadodara</h4>
                            <p style="font-family:SansSerif;">
                                <strong>Email:</strong>&nbsp{{ resume.email }}&nbsp&nbsp&nbsp&nbsp&nbsp<strong>DOB:</strong>&nbsp{{ resume.dob }}
                            </p>
                            <p style="font-family:SansSerif"><strong>Address:</strong>&nbspBlock no. 9 ,GEC ,Sector 28,Gandhinagar (382028)</p>
                            {% if resume.github %}
                                <p style="font-family:SansSerif"><strong> Github Profile:</strong>&nbsp<a
                                        href="{{ resume.github }}" style="color: rgba(32,104,185,0.79);text-decoration: none">{{ resume.github }}/</a></p>
                            {% endif %}
                            {% if resume.linkedin %}
                                <p style="font-family:SansSerif"><strong> LinkedIn:</strong>&nbsp<a style="color: rgba(32,104,185,0.79);text-decoration: none" href="{{ resume.linkedin }}">{{ resume.linkedin }}/</a>
                                </p>
                            {% endif %}
                        </div>
                        <br>
                        <div class="div2">
                            <h3 class="div2hx">EDUCATION</h3>
                            <hr id="hr">
                            <table id="table" style="width:100%">
                                <tr id="table">
                                    <th id="table">Degree</th>
                                    <th id="table">Institute</th>
                                    <th id="table">Year</th>
                                    <th id="table">CPI/Aggregate</th>
                                </tr>
                                {% if resume.mtech_institute %}
                                    <tr id="table">
                                        <td id="table">M.Tech.</td>
                                        <td id="table">{{ resume.mtech_institute }}</td>
                                        <td id="table">{{ resume.mtech_batch }}</td>
                                        <td id="table">{{ resume.mtech_cpi }}</td>
                                    </tr>
                                {% endif %}
                                <tr id="table">
                                    <td id="table" id="table">B.Tech.</td>
                                    <td id="table">{{ resume.btech_institute }}</td>
                                    <td id="table">{{ resume.btech_batch }}</td>
                                    <td id="table">{{ resume.btech_cpi }}</td>
                                </tr>
                                <tr id="table">
                                    <td id="table" id="table">Intermediate/+2</td>
                                    <td id="table">{{ resume.class_ten_institute }}</td>
                                    <td id="table">{{ resume.class_ten_passing_year }}</td>
                                    <td id="table">{{ resume.class_ten_cgpa }}</td>
                                </tr>
                                <tr id="table">
                                    <td id="table">High School</td>
                                    <td id="table">{{ resume.class_twelve_institute }}</td>
                                    <td id="table">{{ resume.class_twelve_passing_year }}</td>
                                    <td id="table">{{ resume.class_twelve_percentage }}</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div>
                            <h3 class="div2hx">SKILLS</h3>
                            <hr id="hr">
                            <table style="width:100%">
                                <tr>
                                    <th class="div2h3"><strong>Area of Interest</strong></th>
                                    <td class="div2h3">{{ resume.area_of_interest }}</td>
                                </tr>
                                <tr>
                                    <th class="div2h3"><strong>Programming Language(s)</strong></th>
                                    <td class="div2h3">{{ resume.programming_language }}</td>
                                </tr>
                                <tr>
                                    <th class="div2h3"><strong>Technical Electives</strong></th>
                                    <td class="div2h3">{{ resume.technical_elective }}</td>
                                </tr>
                                <tr>
                                    <th class="div2h3"><strong>Markup Languages</strong></th>
                                    <td class="div2h3">{{ resume.markup_language }}</td>
                                </tr>
                                <tr>
                                    <th class="div2h3"><strong>Tools and Technologies</strong></th>
                                    <td class="div2h3">{{ resume.tool_techonology }}</td>
                                </tr>
                                <tr>
                                    <th class="div2h3"><strong>Database</strong></th>
                                    <td class="div2h3">{{ resume.database }}</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        {% for project in projects %}
                            {% if project.resume_id|slugify == resume.id|slugify %}
                                {% if forloop.counter == 1 %}
                                <div class="div4">
                                    <h3 class="div2hx">PROJECTS</h3>
                                    <hr id="hr">
                                    {% endif %}
                                    <p style="text-align: right;">{{ project.time }}</p>
                                    <h4 class="div2h3">{{ project.topic }}</h4>
                                    <p style="text-align: right;font-family: SansSerif">Team Size - {{ project.team_size }}</p>
                                    <p></p>
                                    <h4 class="div2h3">Guide : {{ project.guide }}</h4>
                                    <p style="font-family: SansSerif">  {{ project.description }}</p>
                                    <hr id="hrqq">
                                {% if forloop.revcounter == 1 %}
                                </div><br>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for participation in participations %}
                            {% if participation.resume_id|slugify == resume.id|slugify %}
                                {% if forloop.counter == 1 %}
                                    <div class="div4">
                                    <h3 class="div2hx">PARTICIPATION</h3>
                                    <hr id="hr">
                                    <ul class="list">
                                {% endif %}
                            <li>{{ participation.topic }}</li>
                            {% if forloop.revcounter == 1 %}
                                </ul>
                                </div>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        <br>
                    {% for position in position_of_responsibity %}
                            {% if position.resume_id|slugify == resume.id|slugify %}
                                {% if forloop.counter == 1 %}
                                    <div class="div4">
                                    <h3 class="div2hx">POSITION OF RESPONSIBILTY</h3>
                                    <hr id="hr">
                                    <ul class="list">
                                {% endif %}
                            <li>{{ position.topic }}</li>
                            {% if forloop.revcounter == 1 %}
                                </ul>
                                </div>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        <br>
                    {% for award in awards %}
                            {% if award.resume_id|slugify == resume.id|slugify %}
                                {% if forloop.counter == 1 %}
                                    <div class="div4">
                                    <h3 class="div2hx">AWARDS AND ACHIEVEMENTS</h3>
                                    <hr id="hr">
                                    <ul class="list">
                                {% endif %}
                            <li>{{ award.topic }}</li>
                            {% if forloop.revcounter == 1 %}
                                </ul>
                                </div>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        <br>
                     {% for interest in interests %}
                            {% if interest.resume_id|slugify == resume.id|slugify %}
                                {% if forloop.counter == 1 %}
                                    <div class="div4">
                                    <h3 class="div2hx">INTERESTS AND ACTIVITIES</h3>
                                    <hr id="hr">
                                    <ul class="list">
                                {% endif %}
                            <li>{{ interest.topic }}</li>
                            {% if forloop.revcounter == 1 %}
                                </ul>
                                </div>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                        <br><br><br>

                        <p class="div2h3"><strong style="font-family: Georgia">Declaration :</strong>&nbspI hereby declare that all the details furnished above are true to the best of my knowledge and belief.
                        </p><br><br>
                        <p class="div2h3"><strong>{{ resume.fullname }}</strong></p>
                        <p style="font-family: SansSerif;font-size: 1.5vw">{{ current }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h1>USER NOT FOUND</h1>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>