{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">
	<title>Resume</title>
</head>
<body>
<div class="container">
		<p class="logo">
		<img id="image" src="{% static 'images/iiitv_resume.png' %}" alt="iiitv-logo">
		</p>
	<div class="div1">

		<h1 id="div1h1">Shobhit pandey</h1>
		<h4 id="div1h4">Indian institute of technology vadodara</h4>
		<p><strong>Email:</strong>&nbsp2015510872iiitv.ac.in&nbsp&nbsp&nbsp&nbsp&nbsp<strong>DOB:</strong>&nbspNov,20,18</p>
		<p><strong>Address:</strong>&nbsppethepur pethapur, gandhinagar, gujarat</p>
		<p><strong> Github Profile:</strong>&nbsp<a href="#">http/github.com/</a></p>
		<p><strong> LinkedIn:</strong>&nbsp<a href="#">http/linkedin.com/</a></p>
	</div><br>
	<div class="div2">
		<h3 class="div2h3">Education</h3><hr>
		<table id="table" style="width:100%">
		  <tr id="table">
		    <th id="table">Degree</th>
		    <th id="table">Institue</th>
		    <th id="table">Year</th>
		    <th id="table">CPI/Aggregate</th>
		  </tr>
		  <tr id="table">
		    <td id="table">Jill</td>
		    <td id="table">Smith</td>
		    <td id="table">Smith</td>
		    <td id="table">50</td>
		  </tr>
		  <tr id="table">
		    <td id="table" id="table">Eve</td>
		    <td id="table">Jackson</td>
		    <td id="table">Smith</td>
		    <td id="table">94</td>
		  </tr>
		  <tr id="table">
		    <td id="table">John</td>
		    <td id="table">Doe</td>
		    <td id="table">Smith</td>
		    <td id="table">80</td>
		  </tr>
		</table>
	</div><br>
	<div>
		<h3 class="div2h3">Skills</h3><hr>
		<table style="width:100%">
		  <tr>
		    <th class="div2h3">Name:</th>
		    <td class="div2h3">Bill Gates</td>
		  </tr>
		  <tr>
		    <th class="div2h3">Telephone:</th>
		    <td class="div2h3">55577854</td>
		  </tr>
		</table>
	</div><br>
	<div class="div4">
		<h3 class="div2h3">Projects</h3><hr>
		<p>(Feb-April 18)</p>
		<h4 class="div2h3">bank management</h4>
		<p></p>
		<h4 class="div2h3">Guide : Prof. Ashish phophalia</h4>
		<p>  this is a dummi data. this is a dummi data. this is a dummi data. this is a dummi data. v v this is a dummi data.  this is a dummi data. v this is a dummi data. this is a dummi data. this is a dummi data. v</p>
	</div><br>
	<div class="div4">
		<h3 class="div2h3">Participatios</h3><hr>
		<ul class="list">
		  <li>Coffee</li>
		  <li>Tea</li>
		  <li>Milk</li>
		</ul>
	</div><br>
	<div class="div4">
		<h3 class="div2h3">Position of responsebility</h3><hr>
		<ul class="list">
		  <li>Coffee</li>
		  <li>Tea</li>
		  <li>Milk</li>
		</ul>
	</div><br>
	<div class="div4">
		<h3 class="div2h3">Awards and Achivements</h3><hr>
		<ul class="list">
		  <li>Coffee</li>
		  <li>Tea</li>
		  <li>Milk</li>
		</ul>
	</div><br>
	<div class="div4">
		<h3 class="div2h3">Interests and Activities</h3><hr>
		<ul class="list">
		  <li>Coffee</li>
		  <li>Tea</li>
		  <li>Milk</li>
		</ul>
	</div><br><br><br>
	<p class="div2h3"><strong>Declaration :</strong>&nbspI hearby declares that this doc is good.</p><br><br>
	<p class="div2h3"><strong>shobhit pandey</strong></p>
	<p class="div2h3">Sept 19,18</p>
</div>
</body>
</html>