<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Resume</title>
</head>
<body>
{% if not users %}
    <h1>USER NOT FOUND</h1>
{% endif %}
{% for use in users %}
    {% if use %}
    {% for resume in resumes %}
        {% if resume.user_id|slugify == use.id|slugify %}

<h1>{{ resume.fullname }} </h1>
            {% else %}
            <h1>Resume not found</h1>
                {% endif %}
{% endfor %}
        {% else %}
        <h1>USER NOT FOUND</h1>
    {% endif %}
{% endfor %}
</body>
</html>