{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "POST" %}{% endblock %}
{% block heade %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link href="{% static 'froala_editor/css/froala_editor.min.css' %} " type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'froala_editor/css/froala_style.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src=" {% static 'froala_editor/js/froala_editor.min.js' %}"></script>


    <meta charset="UTF-8">
    <title>Post Experience</title>
    <style>
        .form-control{
            width: 600px;
            height: 150px;
            margin-top: 150px;
            margin-left: 350px;
            margin-right: 350px;
        }
    </style>
{% endblock %}
{% block content %}
<form  method="post" role="form">
    {% csrf_token %}
        <div class="form-group">
            {{ q_form.media }}
            {{ q_form.as_p }}
    <div class="form-group">
    <button type="submit" class="btn btn-default" style="width: 10%;height: 30%;margin-left: 350px; font-size: 20px;">
        Submit</button>
    </div>
        </div>
</form>
{% endblock %}