{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Student list" %}{% endblock %}
{% block content %}
    {% for recruiter in recruiter_list %}
        {% if user.username == recruiter.Organization_name %}
        {% for list in lists %}
            <ul>
            {% if list.company_name == recruiter.id %}
                <li>
                <a href="{% url 'resumes:resume' pk2=list.roll_number %}">{{ list.roll_number }} </a>
                </li>
            {% endif %}
            </ul>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}