{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Wrong Attempt" %}{% endblock %}

{% block content %}
{% if quizlist %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Description" %}</th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quizlist %}

  			<tr>
			  <td><a href="{% url 'recruitermarkinglist' quiz_name=quiz.id %}"> <h1>{{ quiz.title }}</h1></a></td>
			  <td><h2>{{ quiz.description }}</h2></td>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
    {% endif %}
{% endblock %}