{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
{% endblock %}
{% block title %}{% trans "Add title" %}{% endblock %}
{% block content %}
     <style>
    .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
        margin-left: 200px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

    </style>
    <div class="container-fluid">
    <form class="form-horizontal" method="post">
    {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>Recruiter Form</legend>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="Organization_Name"><strong>Organization Name</strong></label>
  <div class="col-md-4">
  <input id="id_Organization_Name" name="Organization_name" {% if form.value %}value="{{ form.Organization_name.value }}"{% endif %} type="text" placeholder="Organization Name" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Organization_Website"><strong>Organization Website</strong></label>
  <div class="col-md-4">
  <input id="id_Organization_Website" name="Organization_website" {% if form.value %}value="{{ form.Organization_website.value }}"{% endif %} type="url" placeholder="https://www.example.com" class="form-control input-md" required="">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Organisation Sector"><strong>Organisation Sector</strong></label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="Information_Technology">
      <input type="checkbox" name="Information_Technology" id="id_Information_Technology" {% if form.value %}value="{{ form.Information_Technology.value }}"{% endif %}>

        <strong>Information Technology</strong>
    </label>
   <label class="checkbox-inline" for="Analytics">
      <input type="checkbox" name="Analytics" id="id_Analytics" {% if form.value %}value="{{ form.Analytics.value }}"{% endif %}>
        <strong>Analytics</strong>
    </label>
    <label class="checkbox-inline" for="E_Commerce">
      <input type="checkbox" name="E_Commerce" id="id_E_Commerce" {% if form.value %}value="{{ form.E_Commerce.value }}"{% endif %}>
      <strong>E Commerce</strong>
    </label>
    <label class="checkbox-inline" for="Telecom">
      <input type="checkbox" name="Telecom" id="id_Telecom" {% if form.value %}value="{{ form.Telecom.value }}"{% endif %}>
      <strong>Telecom</strong>
    </label>
       <label class="checkbox-inline" for="Finance">
      <input type="checkbox" name="Finance" id="id_Finance" {% if form.value %}value="{{ form.Finance.value }}"{% endif %}>
      <strong>Finance</strong>
    </label>
   <label class="checkbox-inline" for="Consulting">
      <input type="checkbox" name="Consulting" id="id_Consulting" {% if form.value %}value="{{ form.Consulting.value }}"{% endif %}>
      <strong>Consulting</strong>
    </label>
      <label class="checkbox-inline" for="Other_field"><strong>Other</strong></label>
      <input id="id_Other_field" name="Other_field" type="text" placeholder="Other" class="form-control input-md" {% if form.value %}value="{{ form.Other_field.value }}"{% endif %}>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="Organization_profile"><strong>Organization Profile</strong></label>
  <div class="col-md-4">
  <input id="id_Organization_profile" name="Organization_profile" type="text" {% if form.value %}value="{{ form.Organization_profile.value }}"{% endif %} placeholder="Organization Profile" class="form-control input-md">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Offer"><strong>Offer</strong></label>
  <div class="col-md-4">
    <select id="id_Offer" {% if form.value %}value="{{ form.offer.value }}" {% endif %}name="offer" class="form-control">
      <option value="JOB ONLY">JOB ONLY</option>
      <option value="INTERNSHIP ONLY">INTERNSHIP ONLY</option>
      <option value="JOB+INTERNSHIP">JOB+INTERNSHIP</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="Intern"><strong>Intern</strong></label>
  <div class="col-md-4">
    <select id="id_Intern" name="Intern" {% if form.value %}value="{{ form.Intern.value }}" {% endif %}class="form-control">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      <option value="Maybe">Maybe</option>
    </select>
  </div>
</div>

    <div class="form-group">
  <label class="col-md-4 control-label" for="Job_Profile"><strong>Job Profile</strong></label>
  <div class="col-md-4">
  <input id="id_Job_Profile" name="Job_Profile" {% if form.value %}value="{{ form.Job_Profile.value }}"{% endif %} type="text" placeholder="Job Profile" class="form-control input-md" required="">
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Job_Description"><strong>Job Description</strong></label>
  <div class="col-md-4">
  <input id="id_Job_Description" name="Job_Description" {% if form.value %}value="{{ form.Job_Description.value }}"{% endif %} type="text" placeholder="Job Description" class="form-control input-md" required="">
  </div>
</div>

        <div class="form-group">
  <label class="col-md-4 control-label" for="Locations"><strong>Locations</strong></label>
  <div class="col-md-4">
  <input id="id_Locations" name="Locations" type="text" {% if form.value %}value="{{ form.Locations.value }}" {% endif %}placeholder="Locations" class="form-control input-md" required="">
  </div>
</div>
       <div class="form-group">
  <label class="col-md-4 control-label" for="CTC"><strong>CTC</strong></label>
  <div class="col-md-4">
  <input id="id_CTC" name="CTC" type="number" {% if form.value %}value="{{ form.CTC.value }}"{% endif %} placeholder="CTC" class="form-control input-md" required="">
  </div>
</div>
<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Service"><strong>Service</strong></label>
    <div class="col-md-4">
        <select id="id_Service" {% if form.value %}value="{{ form.service.value }}"{% endif %} name="service" class="form-control">
            <option value="0" selected="selected">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Bond_Conditions"><strong>Bond Conditions</strong></label>
  <div class="col-md-4">
      <input id="id_Bond_Conditions" maxlength="200" {% if form.value %}value="{{ form.Bond_Conditions.value }}"{% endif %} name="Bond_Conditions" type="text" placeholder="Bond Conditions" class="form-control input-md">
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Tentative_Date"><strong>Tentative Date</strong></label>
  <div class="col-md-4">
      <input id="id_Tentative_Date" name="Tentative_Date" type="date" {% if form.value %}value="{{ form.Tentative_Date.value }}"{% endif %} placeholder="YYYY-MM-DD" class="form-control input-md" required="">
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Other_details"><strong>Other Details</strong></label>
  <div class="col-md-4">
      <input id="id_Other_details" maxlength="1000" {% if form.value %}value="{{ form.Other_details.value }}"{% endif %} name="Other_details" type="text" placeholder="Other Details" class="form-control input-md">
  </div>
</div>


    <div class="form-group">
  <label class="col-md-4 control-label" for="Criteria"><strong>Criteria</strong></label>
  <div class="col-md-4">
    <select id="id_Criteria" name="Criteria" {% if form.value %} value="{{ form.Criteria.value }}"{% endif %} class="form-control">
    <option value="" selected="selected">---------</option>
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Selective_Process"><strong>Selective Process</strong></label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="Shortlisting_From_Resumes">
      <input id="id_Shortlisting_From_Resumes" type="checkbox" name="Shortlisting_From_Resumes" {% if form.value %}value="{{ form.Shortlisting_From_Resumes.value }}" {% endif %} >
      <strong>Shortlisting From Resumes</strong>
    </label>
    <label class="checkbox-inline" for="Written_Test_Apptitute">
      <input type="checkbox" name="Written_Test_Apptitute" id="id_Written_Test_Apptitute" {% if form.value %}value="{{ form.Written_Test_Apptitute.value }}"{% endif %}>
      <strong>Written Test Apptitute</strong>
    </label>
    <label class="checkbox-inline" for="Group_Discussion">
      <input type="checkbox" name="id_Group_Discussion" id="id_Group_Discussion" {% if form.value %}value="{{ form.Group_Discussion.value }}"{% endif %}>
      <strong>Group Discussion</strong>
    </label>
    <label class="checkbox-inline" for="Personal_Interview">
      <input type="checkbox" name="Personal_Interview" id="id_Personal_Interview" {% if form.value %}value="{{ form.Personal_Interview.value }}"{% endif %}>
      <strong>Personal Interview</strong>
    </label>
      <label class="checkbox-inline" for="Written_Test_Technical">
      <input type="checkbox" name="Written_Test_Technical" id="id_Written_Test_Technical" {% if form.value %}value="{{ form.Written_Test_Technical.value }}"{% endif %}>
      <strong>Finance</strong>
    </label>
      <label class="checkbox-inline" for="Other"><strong>Other</strong></label>
      <input id="id_Other" name="Other" type="text" placeholder="Other" class="form-control input-md" {% if form.value %}value="{{ form.Other.value }}"{% endif %}>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Offers_Intend"><strong>Offers Intend</strong></label>
  <div class="col-md-4">
  <input id="id_Offers_Intend" name="Offers_Intend" type="number" placeholder="Offers Intend" class="form-control input-md" {% if form.value %}value="{{ form.Offers_intend.value }}"{% endif %}>
  </div>
</div>

    <div class="form-group">
  <label class="col-md-4 control-label" for="Officials_Visit"><strong>Officials Visit</strong></label>
  <div class="col-md-4">
  <input id="id_Officials_Visit" name="Officials_Visit" type="number" placeholder="Officials Visit" class="form-control input-md" {% if form.value %}value="{{ form.Officials_Visit.value }}"{% endif %}>
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Rooms_required"><strong>Rooms Required</strong></label>
  <div class="col-md-4">
  <input id="id_Rooms_required" name="Rooms_required" type="number" {% if form.value %}value="{{ form.Rooms_required.value }}"{% endif %} placeholder="Rooms Required" class="form-control input-md" >
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Rooms_Type"><strong>Rooms Type</strong></label>
  <div class="col-md-4">
  <input id="id_Rooms_Type" name="Rooms_Type" type="text" {% if form.value %}value="{{ form.Rooms_Type.value }}"{% endif %} placeholder="Rooms Type" class="form-control input-md" >
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Logistic_Support"><strong>Logistic Support</strong></label>
  <div class="col-md-4">
  <input id="id_Logistic_Support" name="Logistic_Support" type="text" {% if form.value %}value="{{ form.Logistic_Support.value }}"{% endif %} placeholder="Logistic Support" class="form-control input-md" >
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Name"><strong>Name</strong></label>
  <div class="col-md-4">
  <input id="id_Name" name="Name" type="text" {% if form.value %}value="{{ form.Name.value }}"{% endif %} placeholder="Organization Name" class="form-control input-md" required="">
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="Designation"><strong>Designation</strong></label>
  <div class="col-md-4">
  <input id="id_Designation" name="Designation" type="text" {% if form.value %}value="{{ form.Designation.value }}"{% endif %} placeholder="Designation" class="form-control input-md" required="">
  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="email"><strong>Email</strong></label>
  <div class="col-md-4">
  <input id="id_email" name="email" type="email" {% if form.value %}value="{{ form.email.value }}"{% endif %} placeholder="Email" class="form-control input-md" required="">
  </div>
{#        {{ form.email }}#}
</div>
       <div class="form-group">
  <label class="col-md-4 control-label" for="Contact_Number"><strong>Contact Number</strong></label>
  <div class="col-md-4">
  <input id="id_Contact_Number" name="Contact_Number" {% if form.value %}value="{{ form.Contact_Number.value }}"{% endif %} type="number" maxlength="100" placeholder="Contact Number" class="form-control input-md" required="">
  </div>
</div>
    <div class="form-group">
        <div class="col-md-4">
        </div>
            <div class="col-md-4">
  <button type="submit" class="button button1">Submit</button>
  </div>
    </div>
</fieldset>

</form>
</div>
{% endblock %}