{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/recruiter.css' %}">
<script src="{% static 'javascript/jqBootstrapValidation.js' %}"></script>
	<script src="{% static 'javascript/formHandler.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Recruiter - T&amp;P IIIT Vadodara" %}{% endblock %}
{% block content %}
<style>
     .card {
    font-size: 1em;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
}
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

 }
.card-img-top {
    display: block;
    width: 100%;
    height: 100px;
}
        .text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}
.button {
  display: inline-block;
  border-radius: 0px;
  background-color: #2493f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 560px;
  transition: all 0.2s;
  cursor: pointer;
  float: left;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1 {
  display: inline-block;
  border-radius: 0px;
  background-color: #2493f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 420px;
  transition: all 0.2s;
  cursor: pointer;
  float: left;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
    {% if user.is_authenticated and user.is_staff %}
                <h1>
                    <a href="{% url 'mywebsite:recruiter_quizlist' %}" >
                        <button class="button" style="vertical-align:middle"><span> Quiz List </span></button>
                    </a>
                    <a href="{% url 'mywebsite:change_password' %}" >
                        <button class="button" style="vertical-align:middle"><span> Change Password </span></button>
                    </a>

                    <a href="{% url 'logout' %}" >
                        <button class="button" style="vertical-align:middle"><span> Logout</span></button>
                    </a>
                </h1>
    {% endif %}
    <div class="page-container">


    {% if user.is_superuser %}
        <h1 style="text-align: center;">
            <a href="#">
                <button class="button1" style="vertical-align:middle"><span> Add Recruiter</span></button>
            </a>
            <a href="{% url 'mywebsite:addPastRecruiterimage' %}" style="color: #ff4226">
                <button class="button1" style="vertical-align:middle"><span> Add Past Recruiter Images</span></button>

            </a>
            <a href="{% url 'mywebsite:addinterndescrip' %}" style="color: #6a92e4">
                <button class="button1" style="vertical-align:middle"><span> Add Internship (Academic/Industry)</span></button>

            </a>
            <a href="{% url 'mywebsite:addngodescip' %}" style="color: #398439">
                <button class="button1" style="vertical-align:middle"><span> Add Rural Internship with NGOs</span></button>
            </a>
        </h1>
    {% endif %}
    {% if not user.is_authenticated %}
        <div class="bloc bg-repeat bgc-ghost-white l-bloc" id="bloc-45">
	<div class="container bloc-md">
		<div class="row">

			<div class="col-sm-4">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="mg-clear  tc-paynes-grey">
							Login
						</h3>
					</div>
					<div class="panel-body">
                        {% if form.errors %}
                    <p>your username and password didnot match</p>
                         {% endif %}

                        <form id="form_1666" novalidate="" action="{% url 'recruiterlogin' %}" method="POST" >
                           {% csrf_token %}
							<div class="form-group">
								<label>
									Username
								</label>
								<input id="name_1666" name="username" placeholder="username" class="form-control" required="">
							<div class="help-block"></div></div>
							<div class="form-group">
								<label>
									Password
								</label>
								<input id="email_1666" class="form-control"  name="password" placeholder="password" type="password" required="">
                                <div class="help-block"></div></div><a href="{% url 'reset_password' %}" class="btn btn-clean btn-dim-gray">Forget Password?</a>
							<button id="comp-login-btn" class="bloc-button btn btn-glossy pull-left btn-dodger-green" type="submit" value="login">
								Login
							</button>
                                <input type="hidden" name="next" value="{{next}}">
                        </form>

                    </div>
				</div>
			</div>

			<div class="col-sm-4" style="  align-self: center; float: right;">
				<h3 style="text-align: center; width: 100%;">
				<a href="{% url 'mywebsite:procedure' %}">Click here to view the instruction for registration</a>
				</h3>
				<h3 style="margin-top: 50px;text-align: center; width: 100%;">
				<a href="{% url 'mywebsite:recruiter_form' %}">Click here for new registration</a>
				</h3>
			</div>

		</div>
	</div>
        </div>
    {% endif %}
<!-- bloc-45 END -->
    <div class="bloc bg-repeat bgc-ghost-white l-bloc" id="bloc-45" >
    <h1 style="text-align: center">Past Recruiters</h1>
    <div class="container">
{% for image in images %}
    {% if forloop.counter|divisibleby:"4" or forloop.counter == 1 %}
            <div class="row" style="margin-top:20px;">
     {% endif %}

<div class="col-sm-6 col-md-4 col-lg-3 col-mt-4" style="margin-top: 80px;margin-left: 80px;margin-bottom: 40px;">
    <div class="card" style="background-color: white">
                    <div class="hn" style="background-size: cover; background-position: center; height:50%;">
                    <img class="card-img-top"  src="{{ image.image.url }}" style="background-size: 100%;  min-width: 100%;  min-height: 100%;">
                    </div>
                </div>
            </div>

{% if forloop.counter|divisibleby:"3" or forloop.last == true %}
            </div>
      {% endif %}
{% endfor %}
</div>
	<div class="container bloc-md" >
		<div class="row">
            <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content">
                <p><strong>Some of the Past Internship (Academic/Industry) Organisations</strong></p>
                <ul>
                    {% for industrial in industrials %}
                        <li>{{ industrial.description }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="contents-wrapper">
            <!-- Contents starts here -->
            <div class="content">
                <p><strong>Rural Internship with NGOs</strong></p>
                <ul>

                    {% for ngo in ngos %}
                        <li>{{ ngo.description }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
	</div>
</div>

<!-- comp-hotels -->
<div class="bloc bgc-white l-bloc" id="comp-hotels">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md tc-paynes-grey">
				Hotels near IIIT Vadodara
				</h3>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-6">
				<h4 class="mg-md">
				<a href="https://www.fortunehotels.in/gandhinagar-fortune-inn-haveli.dh.6"><strong>Fortune Inn Haveli</strong></a>
				</h4>
				<p>
					 Plot 235, Sector 11 <br>Gandhinagar - 382011, Gujarat, India <br> <br>Phone: <br>+917939884422, 1-800-102-2333
				</p>
			</div>
			<div class="col-sm-6">
				<h4 class="mg-md">
				<a href="https://www.cambayhotels.com/cambay-sapphire-gandhinagar.htm"><strong>Cambay Sapphire</strong></a>
				</h4>
				<p>
					Gandhinagar, Gujarat, India<br> <br>Tel: 1800 233 6655  <br>Email: info@cambayhotels.com
				</p>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-6">
				<h4 class="mg-md">
				<a href="http://hotelmiddletown.com/"><strong>Hotel MiddleTown</strong></a>
				</h4>
				<p>
					Pramukh Arcade, Reliance Cross road<br>Near Infocity, Kudasan, Gandhinagar.<br>Phone: <br> +91 94082 88883, 079 - 232 – 13887 <br>Email: enquiry@hotelmiddletown.com
				</p>
			</div>
			<div class="col-sm-6">
				<h4 class="mg-md">
				<a href="https://www.tripadvisor.in/Hotel_Review-g297609-d3354530-Reviews-Hotel_Pathikashram-Gandhinagar_Gandhinagar_District_Gujarat.html"><strong>Hotel Pathikashram</strong></a>
				</h4>
				<p>
					Near Mahatma Madnir <br> S.T.Depo, Gandhinagar 382010<br>Gujarat, India
				</p>
			</div>
		</div>
	</div>
</div>
    </div>
{% endblock %}
{##}
{#<!DOCTYPE html>#}
{#{% load staticfiles%}#}
{#<!-- saved from url=(0050)http://iiitvadodara.ac.in/ -->#}
{#<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">#}
{##}
{#    <meta name="keywords" content="">#}
{#    <meta name="description" content="">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">#}
{#    <link rel="shortcut icon" type="image/png" href="http://iiitvadodara.ac.in/img/IIITV_Logo_1x1_small.png">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/recruiter.css' %}">#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"><link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"><link href="{% static 'css/css' %}" rel="stylesheet" type="text/css">#}
{#<link href="{% static 'css/css(1)' %}" rel="stylesheet" type="text/css">#}
{##}
{#	<script src="{% static 'javascript/jquery-2.1.0.min.js' %}"></script>#}
{#	<script src="{% static 'javascript/bootstrap.min.js' %}"></script>#}
{#	<script src="{% static 'javascript/blocs.min.js' %}"></script>#}
{#	<script src="{% static 'javascript/jqBootstrapValidation.js' %}"></script>#}
{#	<script src="{% static 'javascript/formHandler.js' %}"></script>#}
{#    <title>Recruiter - T&amp;P IIIT Vadodara</title>#}
{##}
{##}
{#<!-- Google Analytics -->#}
{##}
{#<!-- Google Analytics END -->#}
{#<style>#}
{#     .card {#}
{#    font-size: 1em;#}
{#    padding: 0;#}
{#    border: none;#}
{#    border-radius: .28571429rem;#}
{#}#}
{#.card-block {#}
{#    font-size: 1em;#}
{#    position: relative;#}
{#    margin: 0;#}
{#    padding: 1em;#}
{#    border: none;#}
{#    border-top: 1px solid rgba(34, 36, 38, .1);#}
{#    box-shadow: none;#}
{#}#}
{##}
{# .card:hover {#}
{#     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);#}
{##}
{# }#}
{#.card-img-top {#}
{#    display: block;#}
{#    width: 100%;#}
{#    height: 100px;#}
{#}#}
{#        .text-bold {#}
{#    font-weight: 700;#}
{#}#}
{##}
{#.meta {#}
{#    font-size: 1em;#}
{#    color: rgba(0, 0, 0, .4);#}
{#}#}
{##}
{#.meta a {#}
{#    text-decoration: none;#}
{#    color: rgba(0, 0, 0, .4);#}
{#}#}
{##}
{#.meta a:hover {#}
{#    color: rgba(0, 0, 0, .87);#}
{#}#}
{##}
{#</style>#}
{#</head>#}
{#<body>#}
{#<!-- Main container -->#}
{#<div class="page-container">#}
{#<div class="text-center col-lg-3 col-md-6 col-sm-12 col-xs-12" id="google_translate_element"></div>#}
{#<!-- bloc-0 -->#}
{#<div class="bloc bg-repeat bgc-white l-bloc" id="bloc-0">#}
{#	<div class="container bloc-sm">#}
{#		<div class="row">#}
{#			<div class="col-sm-6">#}
{#				<a href="{% url 'mywebsite:home' %}"><img src="{% static 'images/iiitv_logo.png' %}" class="head-logo" height="80"></a>#}
{#				<h4 class=" tc-black mg-sm">#}
{#					<a class="ltc-black"  href="{% url 'mywebsite:home' %}">Training &amp; Placement Cell</a><br>#}
{#				</h4>#}
{#				<h6 class=" mg-clear tc-1">#}
{##}
{#					 <a class="pull-left" href="http://iiitvadodara.ac.in/" target="_blank">Indian Institute of Information Technology Vadodara</a><br>#}
{#				</h6>#}
{#			</div>#}
{#				<div class="col-sm-6 right-align">#}
{#				<ul class="list-unstyled list-horizontal-layout">#}
{##}
{#					<li>#}
{#						<a href="{% url 'quiz_category_list_all' %}" class="btn btn-d btn-sq btn-sm nav-button">Quiz</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href="{% url 'mywebsite:student' %}" class="btn btn-d btn-sq btn-sm nav-button">Students</a>#}
{#					</li>#}
{#					<li>#}
{#						<a href="{% url 'mywebsite:recruiter' %}" class="btn btn-d btn-sq btn-sm nav-button">Recruiters</a>#}
{#					</li>#}
{#					<li>#}
{#						<div class="btn-group btn-dropdown">#}
{#							<a href="#" class="btn btn-d btn-sq btn-sm nav-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Achievements<span class="caret"></span></a>#}
{#							<ul class="dropdown-menu" role="menu">#}
{##}
{##}
{#								<li>#}
{#									<a href="{% url 'mywebsite:academic' %}" class="a-btn a-block">Academics</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="{% url 'mywebsite:beyond_academic' %}" class="a-btn a-block">Beyond Academics</a>#}
{#								</li>#}
{##}
{#							</ul>#}
{#						</div>#}
{#					</li>#}
{#					<li>#}
{#						<a  href="{% url 'mywebsite:department' %}" class="btn btn-d btn-sq btn-sm nav-button">Departments</a>#}
{#					</li>#}
{#					<li>#}
{#						<div class="btn-group btn-dropdown">#}
{#							<a href="#" class="btn btn-d btn-sq btn-sm nav-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">About<span class="caret"></span></a>#}
{#							<ul class="dropdown-menu" role="menu">#}
{##}
{##}
{#								<li>#}
{#									<a href="{% url 'mywebsite:about' %}" class="a-btn a-block">About US</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="{% url 'mywebsite:contact' %}" class="a-btn a-block">Contact Us</a>#}
{#								</li>#}
{#                                <li>#}
{#									<a href="http://iiitvadodara.ac.in/gallery.php" class="a-btn a-block">Gallery</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="{%  url 'mywebsite:college_team' %}" class="a-btn a-block">College Team</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="{%  url 'mywebsite:alumni' %}" class="a-btn a-block">Alumni</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="{%  url 'mywebsite:research_development' %}" class="a-btn a-block">Research &amp; Development</a>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
{#					</li>#}
{##}
{##}
{##}
{##}
{#				</ul>#}
{#			</div>#}
{##}
{#		</div>#}
{#	</div>#}
{#</div>#}
{#<!-- bloc-0 END -->#}
{#<!-- bloc-1 END -->#}
{##}
{#<!-- bloc-44 --><!--#}
{#<div class="bloc bgc-white bg-Rec-header d-bloc" id="bloc-44">#}
{#	<div class="container">#}
{#		<div class="row">#}
{#			<div class="col-sm-12">#}
{#				<h2 class=" hero-h-std tc-white text-w-lg mg-clear">#}
{#					Recruiter Login#}
{#				</h2>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{#  bloc-44 END  -->#}
{##}
{#<!-- bloc-45 -->#}
{#<div class="bloc bg-repeat bgc-ghost-white l-bloc" id="bloc-45">#}
{#	<div class="container bloc-md">#}
{#		<div class="row">#}
{#            {% if not user.is_authenticated %}#}
{#			<div class="col-sm-4">#}
{#            {% if user.is_superuser %}#}
{#            <a href="#" style="font-size: 30px;text-align: center;margin-bottom: 30px">Add recruiter</a>#}
{#                {% endif %}#}
{#				<div class="panel">#}
{#					<div class="panel-heading">#}
{#						<h3 class="mg-clear  tc-paynes-grey">#}
{#							Login#}
{#						</h3>#}
{#					</div>#}
{#					<div class="panel-body">#}
{#                        {% if form.errors %}#}
{#                    <p>your username and password didnot match</p>#}
{#                         {% endif %}#}
{##}
{#                        <form id="form_1666" novalidate="" action="{% url 'login' %}" method="POST" >#}
{#                           {% csrf_token %}#}
{#							<div class="form-group">#}
{#								<label>#}
{#									Username#}
{#								</label>#}
{#								<input id="name_1666" name="username" placeholder="username" class="form-control" required="">#}
{#							<div class="help-block"></div></div>#}
{#							<div class="form-group">#}
{#								<label>#}
{#									Password#}
{#								</label>#}
{#								<input id="email_1666" class="form-control"  name="password" placeholder="password" type="password" required="">#}
{#                                <div class="help-block"></div></div><a href="{% url 'reset_password' %}" class="btn btn-clean btn-dim-gray">Forget Password?</a>#}
{#							<button id="comp-login-btn" class="bloc-button btn btn-glossy pull-left btn-dodger-green" type="submit" value="login">#}
{#								Login#}
{#							</button>#}
{#                                <input type="hidden" name="next" value="{{next}}">#}
{#                        </form>#}
{##}
{#                    </div>#}
{#				</div>#}
{#			</div>#}
{#                {% elif user.is_authenticated and user.is_staff %}#}
{#    <a href="{% url 'logout' %}" style="color: #ff4226;font-size: 30px">Logout</a> <br>#}
{#    <a href="{% url 'mywebsite:change_password' %}" style="color: #13cc40;font-size: 30px">Change Password</a><br>#}
{#                <a href="{% url 'mywebsite:recruiter_quizlist' %}" style="color: #ff4226;font-size: 30px">Quiz List</a> <br>#}
{#        {% endif %}#}
{#			<div class="col-sm-4" style="  align-self: center; float: right;">#}
{#				<h3 style="  text-align: center; width: 100%;">#}
{#				<a href="{% url 'mywebsite:procedure' %}">Click here to view the instruction for registration</a>#}
{#				</h3>#}
{#				<h3 style="margin-top: 50px;text-align: center; width: 100%;">#}
{#				<a href="{% url 'mywebsite:recruiter_form' %}">Click here for new registration</a>#}
{#				</h3>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{#{% if user.is_superuser %}#}
{#    <h3 style="text-align: center"><a href="{% url 'mywebsite:addPastRecruiterimage' %}" style="color: #ff4226">Add Past Recruiter Images</a>  <a href="{% url 'mywebsite:addinterndescrip' %}" style="color: #6a92e4">Add Internship (Academic/Industry)</a> <a href="{% url 'mywebsite:addngodescip' %}" style="color: #398439">Add Rural Internship with NGOs</a></h3>#}
{#{% endif %}#}
{#<!-- bloc-45 END -->#}
{#<h1 style="text-align: center">Past Recruiters</h1>#}
{#<div class="card" style="margin-top: 60px;width:100%;height: auto;margin-left: 0px;background-color:white">#}
{#<div class="container">#}
{#{% for image in images %}#}
{#    {% if forloop.counter|divisibleby:"4" or forloop.counter == 1 %}#}
{#            <div class="row" style="margin-top:20px;">#}
{#     {% endif %}#}
{##}
{#<div class="col-sm-6 col-md-4 col-lg-3 col-mt-4" style="margin-top: 80px;margin-left: 80px;margin-bottom: 40px;">#}
{#    <div class="card" style="background-color: white">#}
{#                    <div class="hn" style="background-size: cover; background-position: center; height:50%;">#}
{#                    <img class="card-img-top"  src="{{ image.image.url }}" style="background-size: 100%;  min-width: 100%;  min-height: 100%;">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#{% if forloop.counter|divisibleby:"3" or forloop.last == true %}#}
{#            </div>#}
{#      {% endif %}#}
{#{% endfor %}#}
{#</div>#}
{#</div>#}
{#<div class="bloc tc-dim-gray bgc-white l-bloc" id="bloc-45" >#}
{#	<div class="container bloc-md" >#}
{#		<div class="row">#}
{#            <div class="contents-wrapper" id="recruit">#}
{#            <!-- Contents starts here -->#}
{#            <div class="content">#}
{#                <h1>Past Recruiters</h1>#}
{#                <div style="margin-top:50px;">#}
{#                    <img src="https://lh5.googleusercontent.com/PNv7ZG2jVfeOWNC-ji-4T8AIAF7y8S_wtZqyDKZPBInySaNYm75nh-Y4o8fwLuBUA3U2AVRSPegSSkhMDk_CfcH0F48595fMsCfQ9K2BvJ56MHLcH68=w170" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh4.googleusercontent.com/V28dYfxf5d4Teg7Fl5bghvyBn49NrrlAve7rbkWa336EKh4DEpzk_6qMLdvQo_TrBaCkUph3Bqef-nMlXCIunpUmm7mzrSMPEDvR5YSjnmXFP6VCHKU=w271" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh3.googleusercontent.com/oczzYIEGU7qFhCMJ2D_WoZRDcek6-EdmVY_7bWwhQHYAyIdzweB5-Jqxv5GowqENqOcRGdNsPZ_ggTyBoVKlYZN8X5-tVsOsflzxwFdEPuqNvlN49io=w170" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh5.googleusercontent.com/ZHWEksrzUHtE8klr2kfPQGYA94nERZ9ZiIqI4b0m1xtkjWcghCNmMSfG2c8BtxjD_Hlk96hkSvls4PhriDICFMcqAqfP1uK8QonznMc_5Hqxs9SBXlw=w271" alt="HTML5 Icon" style="width:20%;">#}
{#                </div>#}
{#                <div>#}
{#                    <img src="https://lh6.googleusercontent.com/-lEg8DyyFW9U7Ols6bWiKBWFMjOVdAauLIuf9Q3I_Tdsa2NAp1aEhQLP5lmJ9bF-dY9GI1dyXIwStMWpd9Ow65FFUXMEyzyazrRGAozBNcvPPRxewLA=w170" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh3.googleusercontent.com/RdnmsvrCfQ-S0mn4bwb7zrb8Cr4ij3M_Mu7-0KLBB54lQ84407HVvc5O2Q7sGmkmcON3B_FZ-PhNonASmhPJS62PiDLZken9TiSeS4EyfsBBkyuwROZY=w371" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh3.googleusercontent.com/QOdab2loubVc2H6HeyYeWUN036Znj9xGIHnpiF37pzxCh1fmKBr5L7NbkDfjlXfi4MHqZoR4UZce1Olap3LuXU3yjFilE4hCFeXBpN8mPo0x5Vazvg=w271" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh4.googleusercontent.com/FnFcuTpLohqT5A7Q07tpx7V-QkWb2-pO6G3SS4fe4U37lcKHc4NGancNhvy_I37W2DAYlC_R6B7hHGNq2gjWUAoK16Sgulf1fLsvTnkN78ZOB-jRZdE=w170" alt="HTML5 Icon" style="width:20%;">#}
{#                </div>#}
{#                <div>#}
{#                    <img src="https://lh3.googleusercontent.com/n77bBbPmoOxoYYwypkm7O-hRLANsoQ3kvSbuMCIrVgPSqpCz0EukaWpasF-FS_FF1HEekT4sazsKDoplZkI9uxKLVjR1tVi-g5TISY73dQX_sRX2VQ=w271" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh4.googleusercontent.com/asB4A8fRKRPlt8rOTwLsZrRF-CBQw-UP-FdMcLlRRQyE_kC05_apY96trky2VRzUM0eUszC9ygSJvGQRkqM17M7N674lekb4ZQB-OS5iCtghFuj1GPU=w170" alt="HTML5 Icon" style="width:20%;">#}
{#                    <img src="https://lh6.googleusercontent.com/9-SpDVhm7UGsfGB4jetNs1Row3WzlLEJ031em-9RU0wJJyjrVgztzaHGIJ7gXq2xoScGyy3L=w170" alt="HTML5 Icon" style="width:20%;">#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#        </div>#}
{#	</div>#}
{#</div>#}
{##}
{#<!--after company image-->#}
{##}
{##}
{#<div class="bloc bg-repeat bgc-ghost-white l-bloc" id="bloc-45" >#}
{#	<div class="container bloc-md" >#}
{#		<div class="row">#}
{#            <div class="contents-wrapper">#}
{#            <!-- Contents starts here -->#}
{#            <div class="content">#}
{#                <p><strong>Some of the Past Internship (Academic/Industry) Organisations</strong></p>#}
{#                <ul>#}
{#                    {% for industrial in industrials %}#}
{#                        <li>{{ industrial.description }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="contents-wrapper">#}
{#            <!-- Contents starts here -->#}
{#            <div class="content">#}
{#                <p><strong>Rural Internship with NGOs</strong></p>#}
{#                <ul>#}
{##}
{#                    {% for ngo in ngos %}#}
{#                        <li>{{ ngo.description }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#        </div>#}
{#	</div>#}
{#</div>#}
{##}
{#<!-- comp-hotels -->#}
{#<div class="bloc bgc-white l-bloc" id="comp-hotels">#}
{#	<div class="container bloc-md">#}
{#		<div class="row">#}
{#			<div class="col-sm-12">#}
{#				<h3 class="mg-md tc-paynes-grey">#}
{#				Hotels near IIIT Vadodara#}
{#				</h3>#}
{#			</div>#}
{#		</div>#}
{#		<div class="row voffset">#}
{#			<div class="col-sm-6">#}
{#				<h4 class="mg-md">#}
{#				<a href="https://www.fortunehotels.in/gandhinagar-fortune-inn-haveli.dh.6"><strong>Fortune Inn Haveli</strong></a>#}
{#				</h4>#}
{#				<p>#}
{#					 Plot 235, Sector 11 <br>Gandhinagar - 382011, Gujarat, India <br> <br>Phone: <br>+917939884422, 1-800-102-2333#}
{#				</p>#}
{#			</div>#}
{#			<div class="col-sm-6">#}
{#				<h4 class="mg-md">#}
{#				<a href="https://www.cambayhotels.com/cambay-sapphire-gandhinagar.htm"><strong>Cambay Sapphire</strong></a>#}
{#				</h4>#}
{#				<p>#}
{#					Gandhinagar, Gujarat, India<br> <br>Tel: 1800 233 6655  <br>Email: info@cambayhotels.com#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#		<div class="row voffset">#}
{#			<div class="col-sm-6">#}
{#				<h4 class="mg-md">#}
{#				<a href="http://hotelmiddletown.com/"><strong>Hotel MiddleTown</strong></a>#}
{#				</h4>#}
{#				<p>#}
{#					Pramukh Arcade, Reliance Cross road<br>Near Infocity, Kudasan, Gandhinagar.<br>Phone: <br> +91 94082 88883, 079 - 232 – 13887 <br>Email: enquiry@hotelmiddletown.com#}
{#				</p>#}
{#			</div>#}
{#			<div class="col-sm-6">#}
{#				<h4 class="mg-md">#}
{#				<a href="https://www.tripadvisor.in/Hotel_Review-g297609-d3354530-Reviews-Hotel_Pathikashram-Gandhinagar_Gandhinagar_District_Gujarat.html"><strong>Hotel Pathikashram</strong></a>#}
{#				</h4>#}
{#				<p>#}
{#					Near Mahatma Madnir <br> S.T.Depo, Gandhinagar 382010<br>Gujarat, India#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{#<!-- comp-hotels END -->#}
{##}
{#<!-- ScrollToTop Button#}
{#<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget(&#39;1&#39;)"><span class="fa fa-chevron-up"></span></a>#}
{#<!-- ScrollToTop Button END-->#}
{##}
{##}
{#<!-- Footer - bloc-63 -->#}
{##}
{#<div class="bloc bg-repeat bgc-ghost-white l-bloc" id="bloc-63" style="border-top: 5px solid rgba(0,0,0,0.49);"><center><img style="background: white; margin-top: -48px; padding: 2px; border-radius: 50%;border-style: solid;border-width: 5px; align-content: center;" src="{% static 'images/iiitv_logo.png' %}" alt="iiitv" width="90" height="90"></center>#}
{#	<div class="container bloc-md">#}
{#		<div class="row">#}
{##}
{#				<p style="text-align: center;">#}
{#                    <strong>Address : </strong>c/o Block No.9, Government Engineering College,#}
{#                    Sector-28, Gandhinagar, Gujarat - 382028#}
{#				</p>#}
{#                <!--</div>-->#}
{#                <!--<div class="col-sm-4 links">-->#}
{#                    <p style="text-align: center;">#}
{#                        <a href="{% url 'mywebsite:academic' %}" style="color: #3b6db4">Achievements</a>#}
{#                        <i style="text-align: center; line-height: 18px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:procedure' %}" style="color: #3b6db4">Procedure</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:student' %}" style="color: #3b6db4">Students</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:recruiter' %}" style="color: #3b6db4">Recruiter</a>#}
{#                    	<i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:home' %}" style="color: #3b6db4">Home</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:department' %}" style="color: #3b6db4">Departments</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:about' %}" style="color: #3b6db4">About Us</a>#}
{#                    	<i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:contact' %}" style="color: #3b6db4">Contact Us</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:college_team' %}" style="color: #3b6db4">College Team</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="http://iiitvadodara.ac.in/gallery.php" style="color: #3b6db4">Gallery</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:alumni' %}" style="color: #3b6db4">Alumni</a>#}
{#                        <i style="text-align: center; line-height: 20px; font-style: normal;color: #000000"  >| </i>#}
{#                        <a href="{% url 'mywebsite:research_development' %}" style="color: #3b6db4">R&D</a>#}
{#                    	&nbsp;&nbsp;&nbsp;#}
{#               <!-- </div>-->#}
{#               <!-- <div class="col-sm-4 footer-social">-->#}
{#                    <a href="#!"><i class="fa fa-facebook" aria-hidden="true" title="Official Facebook Page"></i><span class="sr-only">Official Facebook Page</span></a>#}
{#                    <!--<a href="https://github.com/iiitv"><i class="fa fa-github" aria-hidden="true"#}
{#                                                          title="Github Group"></i></a>-->#}
{#                    <a href="#!"><i class="fa fa-linkedin" aria-hidden="true" title="LinkedIn Profile"></i><span class="sr-only">LinkedIn Profile</span></a>#}
{#                    <a href="#!" title=""><i class="fa fa-twitter" aria-hidden="true" title="Official Twitter Account"></i><span class="sr-only">Official Twitter Account</span></a>#}
{#				</p>#}
{#			<div class="col-sm-3">#}
{#				<img src="{% static 'images/iiitv_logo.png' %}" class="head-logo" height="48">#}
{#				<h5 class="mg-md">#}
{#					<a class="ltc-black" href="{% url 'mywebsite:home' %}">Training &amp; Placement Cell, IIIT Vadodara</a><br>#}
{##}
{#				</h5>#}
{#			</div>#}
{#			<div class="col-sm-3">#}
{##}
{##}
{#					<h4 class="ltc-black mg-clear" >Faculty Incharge, Training &amp; Placement Section</h4>#}
{#					<br>#}
{##}
{#					<a style="font-weight: bold" class="ltc-black mg-lg"  href="http://iiitvadodara.ac.in/">Prof.Ashish Phapolia</a>#}
{#					<br>#}
{##}
{##}
{#					<h5  class="ltc-black ">IIIT Vadodara</h5>#}
{##}
{#					<h5 class="ltc-black	">+91 9000000000</h5>#}
{##}
{##}
{##}
{##}
{#			</div>#}
{##}
{#			<div class="col-sm-4">#}
{##}
{##}
{#					<h4 class="ltc-black mg-mdr" >Office:</h4>#}
{#					<br>#}
{#					<h4  class="ltc-black mg-clear " style="display: inline;" >Phone:#}
{#					</h4>#}
{##}
{#					<a  class="ltc-black mg-lg" >0870-0001112 <br>#}
{#												0870-1231231 (Direct)<br>#}
{#												0870-1231231 (Fax)#}
{#					</a>#}
{#					<br>#}
{##}
{##}
{#					<h5>  Email : <a href=" mailto:placementcell@iiitvadodara">placementcell@iiitvadodara.ac.in </a></h5>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#			</div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#					</div>#}
{#	</div>#}
{#</div>#}
{#</div>#}
{##}
{##}
{##}
{#        <!-- Google Translate -->#}
{#        <script type="text/javascript">#}
{#                function googleTranslateElementInit() {#}
{#                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');#}
{#                }#}
{#        </script>#}
{#        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>#}
{##}
{##}
{##}
{#</body>#}
{#</html>#}
