{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Student Apply" %}{% endblock %}
{% block content %}
    <style>
    .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

    </style>
    {% if user.is_authenticated or user.is_superstaff and not user.is_staff%}
    {% endif %}
<h1 style="text-align: center">{% trans "Apply for company" %} </h1>
    {% if recruiters %}
        <h1>Are you sure to apply to below company?</h1>
      <table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Organisation Name" %}</th>
			  <th>{% trans "Organisation Website" %}</th>
			  <th>{% trans "Organisation Sector" %}</th>
			  <th>{% trans "Offer" %}</th>
              <th>{% trans "CTC" %}</th>
                <th>{% trans "Service" %}</th>
                <th>{% trans "Tentative Date" %}</th>
                <th>{% trans "Criteria" %}</th>
                <th>{% trans "Selective Process" %}</th>
                <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for company in recruiters %}
  			<tr>
			  <td>{{ company.Organization_name }}</td>
			  <td><a href="{{ company.Organization_website }}" style="font-size: 20px">Link</a></td>
			  <td>
                  {% if company.Information_Technology %} <strong>Information Technology ,</strong> {% endif %}
                  {% if company.Analytics %}<strong> Analytics ,</strong>{% endif %}
                    {% if company.E_Commerce %}<strong> E Commerce ,</strong>{% endif %}
                    {% if company.Telecom %}<strong> Telecom ,</strong>{% endif %}
                    {% if company.Finance %}<strong> Finance ,</strong>{% endif %}
                    {% if company.Consulting %}<strong> Consulting ,</strong>{% endif %}
                    {% if not company.Other_field == "" %}<strong> {{ company.Other_field }} </strong>{% endif %}
              </td>
			  <td>{{ company.offer }}</td>
            <td>{{ company.CTC }} </td>
            <td>{{ company.service }} </td>
            <td>{{ company.Tentative_Date }} </td>
            <td>{{ company.Criteria }} </td>
            <td>
                {% if company.Shortlisting_From_Resumes %}<strong> Resume ,</strong>{% endif %}
                  {% if company.Written_Test_Apptitute %} <strong> Aptitude Test ,</strong> {% endif %}
                    {% if company.Group_Discussion %} <strong> GD ,</strong> {% endif %}
                    {% if company.Personal_Interview %} <strong> PI ,</strong>{% endif %}
                    {% if company.Written_Test_Technical %} <strong> Technical Test  ,</strong>{% endif %}
                    {% if not company.Other == "" %} <strong> {{ company.Other }} </strong>{% endif %}
            </td>
            <td> {% if not company.id in lists %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit"  name="submit" class="button button1">Apply</button>
                </form>
                {% else %}
                Applied
                {% endif %}
            </td>

			</tr>

        {% endfor %}
		  </tbody>

		</table>
    {% else %}
        <p>{% trans "There are no company listed till now" %}</p>
    {% endif %}
{% endblock %}