{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Company list" %}{% endblock %}
{% block content %}
    {% if user.is_authenticated or user.is_superstaff and not user.is_staff%}
    {% endif %}
<h1 style="text-align: center">{% trans "List of upcoming Company" %} </h1>
    {% if lists %}
      <table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Organisation Name" %}</th>
			  <th>{% trans "Organisation Website" %}</th>
			  <th>{% trans "Organisation Sector" %}</th>
			  <th>{% trans "Offer" %}</th>
              <th>{% trans "CTC" %}</th>
                <th>{% trans "Service" %}</th>
                <th>{% trans "Tentative Date" %}</th>
                <th>{% trans "Crieria" %}</th>
                <th>{% trans "Selective Process" %}</th>
                <th></th>
			</tr>
		  </thead>

		  <tbody>
        {% for list in lists %}
        {% for company in recruiter_list %}
            {% if list.company_name == company.id %}
  			<tr>
			  <td>{{ company.Organization_name }}</td>
			  <td><a href="{{ company.Organization_website }}">Link</a></td>
			  <td>{% if company.Information_Technology %}Information Technology , {% endif %}
                  {% if company.Analytics %}Analytics , {% endif %}
                    {% if company.E_Commerce %}E Commerece , {% endif %}
                    {% if company.Telecom %}Telecom , {% endif %}
                    {% if company.Finance %}Finance , {% endif %}
                    {% if company.Consulting %}Consulting {% if not company.Other_field == "" %} ,{% endif %}{% endif %}
                    {% if not company.Other_field == "" %}{{ company.Other_field }}{% endif %}
              </td>
			  <td>{{ company.offer }}</td>
            <td>{{ company.CTC }} </td>
            <td>{{ company.service }} </td>
            <td>{{ company.Tentative_Date }} </td>
            <td>{{ company.Criteria }} </td>
            <td>
                {% if company.Shortlisting_From_Resumes %} Resume {% if company.Written_Test_Apptitute %} , {% endif %}{% endif %}
                  {% if company.Written_Test_Apptitute %} Apptitute Test {% if company.Group_Discussion %} , {% endif %}{% endif %}
                    {% if company.Group_Discussion %} GD {% if company.Personal_Interview %} , {% endif %}{% endif %}
                    {% if company.Personal_Interview %} PI {% if company.Written_Test_Technical %} , {% endif %}{% endif %}
                    {% if company.Written_Test_Technical %} Finance {% if not company.Other == "" %} , {% endif %}{% endif %}
                    {% if not company.Other == "" %},{{ company.Other }}{% endif %}
            </td>
            <td>Applied</td>

			</tr>
        {% endif %}
        {% endfor %}
          {% endfor %}
		  </tbody>

		</table>
    {% else %}
        <p>{% trans "There are no company sortlisted by you." %}</p>
    {% endif %}
{% endblock %}